<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main class="vistas-usuario">
    <h1><%= about %></h1>

    <form id="getProducts-form" class="products-form">
        <label for="idProd">ID del producto</label>
        <input type="number" name="id" id="idProd" required>
        <input type="submit" value="Consultar producto">
    </form>

    <hr>

    <div id="contenedor-productos"></div>
</main>

<%- include("partials/footer.ejs") %>

<script src="/js/consultar.js"></script>
